.storypage .entry-title {display:none;}
.entry-title, .metadata {text-align: center;}
h1, h2, h3, h4, h5 {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 0.5em 0 0.5em 0;
}
h1 {font-size: 30px;}
h2 {font-size: 26px;}
h3 {font-size: 22px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
p, blockquote, blockquote p {
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
}
p.par-step {
    text-align:center;
    color: #66cc14;
}
.literal {
    color: #cc6600;
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid #cccccc;
    border-radius: 4px;
}
pre.code .cm, pre.code .c1, p.caption {font-style: normal;}
.clear-float {clear: both;}
.label {color: #337ab7;}
li {line-height: 1.8;}
